<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.0.0.4001" targetFramework="net40" />
  <package id="Castle.Windsor" version="3.0.0.4001" targetFramework="net40" />
  <package id="System.Json" version="4.0.20126.16343" targetFramework="net40" />
  <package id="xrc.Core" version="0.1.0" targetFramework="net40" />
  <package id="xrc.Site" version="0.1.1" targetFramework="net40" />
  <package id="xrc.Windsor" version="0.1.0" targetFramework="net40" />
</packages>