@inherits xrc.Razor.XrcWebViewPage

@functions
{
    public DateTime param1
    {
        get;
        set;
    }
}

<p>Show an example of a razor page and how to read parameters: <br />
hello from razor: @DateTime.Now, hello from xrc parameter: @param1</p>

<h2>Html.Action</h2>
@Html.Action("PartialAction", "Test")

<h2>Html.Partial</h2>
@Html.Partial("~/xrc/razor/_partial.cshtml")
