@inherits xrc.Razor.XrcWebViewPage

@functions
{
	public string Url
	{
		get;
		set;
	}
}

<div>

	<h1>Catch-All!</h1>

	<p>This is a page inside a catch all folder. Current url is : <b>@Url</b></p>
	
</div>