@inherits xrc.Razor.XrcWebViewPage

@functions
{
	public int HttpStatus
	{
		get;
		set;
	}
}

@{
	if (HttpStatus != 200)
	{
		throw new HttpException(HttpStatus, "Error message for " + HttpStatus.ToString());
	}
}

<h2>Test errors</h2>

<ul>
	<li><a href="not_exists">404</a></li>
	<li><a href="?httpStatus=500">500</a></li>
	<li><a href="?httpStatus=503">503</a></li>
</ul>

