@inherits xrc.Razor.XrcWebViewPage<DemoWebSite.ContactList>

<div>
	
	<p>A list of contact that is loaded with ajax.</p>

	<table class="table table-striped">
		<thead>
			<tr>
				<th>FirstName</th>
				<th>LastName</th>
				<th>Message</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var contact in Model.Contacts){
				<tr>
					<td>@contact.FirstName</td>
					<td>@contact.LastName</td>
					<td>@contact.Message</td>
				</tr>
			}
		</tbody>
	</table>

</div>