@inherits xrc.Razor.XrcWebViewPage

@functions
{
	public int HttpStatus
	{
		get;
		set;
	}

	public Exception Exception
	{
		get;
		set;
	}

	public Uri ErrorUrl
	{
		get;
		set;
	}

	Exception GetOriginalException(Exception ex)
	{
		if (ex.InnerException == null) return ex;

		return GetOriginalException(ex.InnerException);
	}
}

<h2>Error @HttpStatus @ErrorUrl</h2>

<p>@GetOriginalException(Exception).Message</p>
